.home-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../assets/warehouse.jpg'), 
  -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 1) 45%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: color;
}